/*头部*/
header {
  background: #3e98f0 !important;
}

/*底部*/
footer {
  background: #3e98f0 !important;
}

/*头部标题*/
.ct-header-title {
  color: #FFFFFF !important;
}

/*返回按钮*/
.ct-back-icon {
  float: left;
  background: url(images/iconfont-fanhui.png) no-repeat center !important;
  background-size: .8rem !important;
}

/*用户按钮*/
.ct-user-icon {
  float: left;
  background: url(images/iconfont-user.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*功能按钮*/
.ct-function-icon {
  float: left;
  background: url(images/iconfont-gongneng.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*主页按钮*/
.ct-home-icon {
  float: left;
  background: url(images/iconfont-zhuye.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*分享按钮*/
.ct-share-icon {
  float: right;
  background: url(images/iconfont-fenxiang.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*刷新按钮*/
.ct-refresh-icon {
  float: right;
  background: url(images/iconfont-shuaxin.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*搜索按钮*/
.ct-search-icon {
  float: right;
  background: url(images/iconfont-sousuo.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*更多*/
.ct-more-icon {
  float: right;
  background: url(images/iconfont-gengduo.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*设置*/
.ct-setting-icon {
  float: right;
  background: url(images/iconfont-shezhi.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*添加*/
.ct-add-icon {
  float: right;
  background: url(images/iconfont-tianjia.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*保存*/
.ct-save-icon {
  float: right;
  background: url(images/iconfont-baocun.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*编辑*/
.ct-edit-icon {
  float: right;
  background: url(images/iconfont-bianji.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}

/*查看*/
.ct-view-icon {
  float: right;
  background: url(images/iconfont-chakan.png) no-repeat center !important;
  background-size: 1.2rem 1.2rem !important;
}