/*禁止复制*/
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: none !important;
  /*当用户点击IOS或Safai浏览器中的链接或javaScript的可点击的元素时，覆盖高亮颜色*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*当你触摸并按住触摸目标时候，禁止或显示系统默认菜单*/
  -webkit-touch-callout: none;
}

/*表单控件可以复制*/
input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

html, body {
  overflow: hidden !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: 20px;
  height: 100%;
  width: 100%;
  /*此属性很关键*/
  height: 100% !important;
  position: relative;
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif, Microsoft Yahei;
  background: #fff;
  /*当字体小于12px时*/
  -webkit-text-size-adjust: 100%;
}

ul, ol {
  list-style: none;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

/*View切换时的遮罩*/
.ct-page-mask {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background: transparent;
  z-index: 9999;
  display: none;
}

.ct-page-mask > div[opt='animation'] {
  position: absolute;
  width: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

/*一个View*/
[ct-data-role='page'] {
  /*display: none;*/
  top: -999rem;
  /*height: 0;*/
  /*visibility: hidden;*/
  overflow-x: hidden;
  overflow-y: hidden /*auto*/;
  -webkit-overflowscrolling: touch;
  -moz-overflowscrolling: touch;
  -o-overflowscrolling: touch;
  overflowscrolling: touch;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  left: 0;
  /*top: 0;*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
}

/*View显示*/
[ct-data-role='page'].active {
  /*display: block;*/
  top: 0;
  /*height: auto;*/
  /*visibility: visible;*/
  /*z-index: 9990;*/
}

/*当ct-data-transition为material显示时的样式*/
[ct-data-role='page'].materialShow {
  opacity: 0;
  -webkit-transform: translate3d(0, 56px, 0);
  animation: pageMaterialShow 200ms forwards;
  -webkit-animation: pageMaterialShow 200ms forwards;
}

/*当ct-data-transition为material且隐藏时的样式*/
[ct-data-role='page'].materialHide {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  animation: pageMaterialHide 200ms forwards;
  -webkit-animation: pageMaterialHide 200ms forwards;
}

/*当ct-data-transition为meterial显示时的动画*/
@keyframes pageMaterialShow {
  form {
    opacity: 0;
    transform: translate3d(0, 56px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes pageMaterialShow {
  form {
    opacity: 0;
    -webkit-transform: translate3d(0, 56px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

/*当ct-data-transition为meterial隐藏时的动画*/
@keyframes pageMaterialHide {
  form {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 56px, 0);
  }
}

@-webkit-keyframes pageMaterialHide {
  form {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 56px, 0);
  }
}